@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Medium.otf");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-SemiBold.otf");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #282536;
  font-family: "Poppins";
}

main {
  margin-right: 10px;
  margin-left: 10px;
}

p {
  color: white;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
}

.header {
  background: linear-gradient(rgba(67, 70, 75, 0.4), #282536),
    url("../images/image1.png"), no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 250px;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: 50px;
    background: linear-gradient(rgba(67, 70, 75, 0.4), #282536);
  }
}
@media only screen and (max-width: 768px) {
  .header--mobile {
    background: linear-gradient(rgba(67, 70, 75, 0.1), #282536),
      url("../images/screenshot1.png"), no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {
  .header--mobile {
    background: linear-gradient(rgba(67, 70, 75, 0.4), #282536) !important;
  }
}

.videos-and-screenshots {
  padding-bottom: 150px;
}

.videos-and-screenshots__radio-buttons {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .videos-and-screenshots__radio-buttons {
    padding-bottom: 10px;
    justify-content: center;
  }
}

.description-and-preorder {
  background: linear-gradient(#282536, rgba(67, 70, 75, 0.6), #282536),
    url("../images/image2.png"), no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
}

@media only screen and (min-width: 768px) {
  .description-and-preorder {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .description-and-preorder {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    width: 40%;
  }
}

.pre-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .pre-order {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .pre-order {
    align-items: center;
  }
}

.pre-order__form {
  background-color: #2b283a;
  padding: 40px 40px 40px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px #000;
  width: 80%;
}

.pre-order__form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: white;
}

.pre-order__form__row--blue {
  color: #308ae2;
}

h2 {
  color: white;
}
h3 {
  color: white;
}

.nav__menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(40, 37, 54, 0.7);
  margin-bottom: 200px;
  /* position:fixed; */
}

@media only screen and (max-width: 768px) {
  .nav__menu-bar {
    background-color: rgba(40, 37, 54);
    margin-top: 200px;
    margin-bottom: 50px;
  }
}

.nav__menu-bar__menu-button {
  font-weight: normal;
  height: 60px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 1px;
  margin-right: 100px;
}

@media only screen and (max-width: 768px) {
  .nav__menu-bar__menu-button {
    height: 60px;
    margin-right: 20px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .nav__menu-bar__menu-button {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .hide-when-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-when-desktop {
    display: none;
  }
}

.nav__menu-bar__menu-button:hover {
  border-bottom-color: #23bbbe;
}

.header__header-content {
  display: flex;
  flex-direction: column;
  color: white;
}

@media only screen and (max-width: 768px) {
  .header__header-content {
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}

.blue-line {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #308ae2;
  width: 75px;
  height: 20px;
}

@media only screen and (max-width: 768px) {
  .blue-line {
    margin: auto;
    width: 100px;
  }
}

.teal-line {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #23bbbe;
  width: 75px;
  height: 20px;
}

.header__header-content--lower-opacity {
  opacity: 0.7;
}

.header__header-content__details {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .header__header-content__details {
    display: flex;
    flex-direction: column;
  }
}

button {
  font-family: Poppins;
  font-weight: semibold;
  background-color: #308ae2;
  color: white;
  border: none;
  border-radius: 4px;
}

.pre-order-button {
  font-size: 16px;
  padding: 15px 40px 15px 40px;
}

.pre-order-button:hover,
.keep-up-to-date___form__button:hover {
  background-color: #2979c6;
}

.keep-up-to-date {
  background: linear-gradient(#282536, rgba(67, 70, 75, 0.6)),
    url("../images/image3.png"), no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.keep-up-to-date__content {
  padding-top: 200px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .keep-up-to-date__text {
    width: 450%;
  }
}
@media only screen and (max-width: 768px) {
  .keep-up-to-date__text {
    width: 100%;
  }
}

.keep-up-to-date___form__button {
  font-size: 12px;
  padding: 8px 20px 8px 20px;
}

.keep-up-to-date__form__input {
  font-family: Poppins;
  font-weight: semibold;
  color: white;
  padding: 8px 20px 8px 20px;
  background-color: #757594;
  border: none;
  border-radius: 4px;
  margin-bottom: 5px;
}

.keep-up-to-date__form__input::placeholder {
  color: white;
  opacity: 1;
}

.site-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  opacity: 0.7;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .site-name {
    background-color: rgba(40, 37, 54, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.game-title {
  font-weight: semibold;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  .game-title {
    font-weight: regular;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .positioning {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .positioning {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Customize the label (the container) */
.radio-button-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .radio-button-container {
    padding-left: 20px;
    margin-right: 2px;
  }
}

/* Hide the browser's default radio button */
.radio-button-container .radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #282536;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

@media only screen and (max-width: 768px) {
  .checkmark {
    height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .checkmark {
    height: 8px;
    width: 8px;
  }
}

.radio-button-container:hover .radio-button ~ .checkmark {
  background-color: rgb(35, 187, 190, 0.6);
}

.radio-button-container .radio-button:checked ~ .checkmark {
  background-color: #23bbbe;
  border-color: #23bbbe;
}

.screenshot-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.screenshot {
  height: 140px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .stickyAdded + .header__header-content {
    padding-top: 260px;
  }
}

@media only screen and (max-width: 768px) {
  .stickyAdded + .header__header-content {
    padding-top: 310px;
  }
}

@media only screen and (max-width: 768px) {
  .sticky.nav__menu-bar {
    margin-top: 0px;
  }
}
